<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
        <table class="table table-striped" id="dataTables-users">
        	<thead>
        	<tr>
        		<th>ID</th><th>Email</th><th>Created</th><th>Last sign in</th><th></th>
        	</tr>
        	</thead>
        	<tbody>
	        <% @users.each do |user| %>
	        	<tr>
	        		<td><%= user.id %></td>
	        		<td><%= user.email %></td>
	        		<td><%= user.created_at %></td>
	        		<td><%= user.last_sign_in_at %></td>
	        		<td class="text-right"><%= link_to "View", account_user_path(user.account_id, user) %></td>
	        	</tr>
	        <% end %>
	        </tbody>
        </table>
    </div>
</div>