

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New User <small><%= @account.title %></small></h1>
			<%= simple_form_for [@account, @user] do |f| %>
				<%= f.input :email %>
				<%= f.input :first_name %>
				<%= f.input :last_name %>
				<%= f.input :password %>
				<%= f.input :password_confirmation %>
				<%= f.button :submit %>
			<% end %>
    </div>
</div>