<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User <small><%=@user.email%></small> <!-- Single button -->
			<div class="btn-group pull-right">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    Action <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><%= link_to 'Activate', activate_account_user_path(@user.account_id, @user) if !@user.active %>
			    	<%= link_to 'Deactivate', deactivate_account_user_path(@user.account_id, @user) if @user.active %></li>
                <li><%= link_to 'Set account owner', set_account_owner_account_user_path(@user.account_id, @user) if @user.active %></li>
			  </ul>
			</div>
		</h1>

        <table class="table table-striped">
        	<tr><td>Email</td><td><%= @user.email %></td></tr>
        	<tr><td>First name</td><td><%= @user.first_name %></td></tr>
        	<tr><td>Last name</td><td><%= @user.last_name %></td></tr>
        	<tr><td>Account owner</td><td><%= @user.account_owner %></td></tr>
        	<tr><td>Account</td><td><%= link_to 'View account', account_path(@user.account_id) %></td></tr>
        	<tr><td>Active</td><td><%= @user.active %></td></tr>
        	<tr><td>Created at</td><td><%= @user.created_at %></td></tr>
        	<tr><td>Current sign in at</td><td><%= @user.current_sign_in_at %></td></tr>
        	<tr><td>Last sign in at</td><td><%= @user.last_sign_in_at %></td></tr>
        </table>
    </div>
</div>