<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reports</h1>
		<table class="table table-striped">
            <tr><th>Record</th><th>Number of records</th></tr>
			<% ActiveRecord::Base.subclasses.each do |sc| %>
				<% unless sc.model_name == "ActiveRecord::SchemaMigration" %>
				    <tr>
				        <td><%= sc.model_name %></td><td><%= sc.count %></td>
				    </tr>
			    <% end %>
			<% end %>
		</table>
	</div>
</div>