<!DOCTYPE html>
<html>
<head>
  <title>AdminBackend</title>
  <%= stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true  %>
  <%= stylesheet_link_tag    "admin_backend/application", media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "admin_backend/application", 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Admin Backend", root_path, class: "navbar-brand" %>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li><%= link_to "<i class='fa fa-fw fa-dashboard'></i> Dashboard".html_safe, root_path, class: (controller_name == "dashboard" ? "active" : "") %></li>
                    	<li><%= link_to "<i class='fa fa-fw fa-users'></i> Accounts".html_safe, accounts_path, class: (controller_name == "accounts" ? "active" : "") %></li>
                    	<li><%= link_to "<i class='fa fa-fw fa-user'></i> Users".html_safe, users_path, class: (controller_name == "users" ? "active" : "") %></li>
                    	<li><%= link_to "<i class='fa fa-fw fa-signal'></i> Reports".html_safe, reports_path, class: (controller_name == "reports" ? "active" : "") %></li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
            	<%= yield %>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>
