/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

html.turbolinks-progress-bar::before {
  height: 2px !important;
  z-index: 1040;
}