<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Accounts
            <%= link_to 'Create account', new_account_path, class: "btn btn-default pull-right" %>
        </h1>
        <table class="table table-striped" id="dataTables-accounts">
            <thead>
        	<tr>
        		<th>ID</th><th>Title</th><th>Created at</th><th></th>
        	</tr>
            </thead>
            <tbody>
	        <% @accounts.each do |account| %>
	        	<tr>
	        		<td><%= account.id %></td>
	        		<td><%= account.title %></td>
	        		<td><%= account.created_at %></td>
	        		<td class="text-right"><%= link_to "View", account %></td>
	        	</tr>
	        <% end %>
            </tbody>
        </table>
    </div>
</div>
