<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New Account</h1>
		<%= simple_form_for @account do |f| %>
			<%= f.input :title %>
			<%= f.input :account_type %>
			<%= f.input :description %>
			<div class="row">
				<div class="col-md-6">
				<%= f.input :address_line1, label: 'Address line 1' %>
				</div>
				<div class="col-md-6">
				<%= f.input :address_line2, label: 'Address line 2' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				<%= f.input :suburb %>
				</div>
				<div class="col-md-3">
				<%= f.input :post_code, label: 'Postcode' %>
				</div>
				<div class="col-md-3">
				<%= f.input :state %>
				</div>
				<div class="col-md-3">
				<%= f.input :country, input_html: {class: "form-control"} %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<%= f.input :phone %>
				</div>
				<div class="col-md-4">
					<%= f.input :email %>
				</div>
				<div class="col-md-4">
					<%= f.input :website %>
				</div>
			</div>
			<%= f.button :submit %>
		<% end %>
    </div>
</div>