<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Accounts <small><%=@account.title%></small>
            <%= link_to 'Create user', new_account_user_path(@account), class: "btn btn-default pull-right" %>
        </h1>

        <h4>Users</h4>
        <div class="">
            <table class="table table-striped table-bordered-outer" id="dataTables-users">
                <thead>
                    <tr><th>Email</th><th>First name</th><th>Last name</th><th>Account owner</th><th>Created at</th><th></th></tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.email%></td>
                            <td><%= user.first_name %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.account_owner %></td>
                            <td><%= user.created_at %></td>
                            <td class="text-right"><%= link_to "View", account_user_path(user.account_id, user) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>